.payrexx {
    .payment-module-icon {
        img {
            background: initial !important;
        }
    }
    .payment-module-description {
        img {
            margin: 7px 7px 7px 7px;
            background: #fff;
            width: 70px;
        }
    }
}
